
/* Table of Content
==================================================



/* Header Styles
================================================== */
header { background: url("assets/img/header-bg.jpg"); background-size: cover; background-position: top center; height: 360px;}
header {
	.header-logo { display: block; }
	.header-logo {
		img { background-color: white; padding: 25px 20px 20px; }
	}
	.header-text { display: block; background-color: #137cc1; margin: 85px 15px 0px; padding: 26px; }
	.header-text {
		.header-text-information { font-size: 22px; color: white; font-family: $minion; font-style: italic; line-height: 26px; font-weight: 700; letter-spacing: .02em; margin-bottom: 10px; }
		.header-text-callout { display: block; color: white; font-family: $nimbus-c; text-transform: uppercase; font-weight: 700; font-size: 40px; line-height: 42px; }
	}
}

/* Homepage Styles
================================================== */

.contact-form { display: block; }
.contact-form {
	.contact-form-header { display: block; }
	.contact-form-header {
		.contact-form-header-title { display: block; }
		.contact-form-header-subtitle { display: block; }
	}
	.contact-form-body { display: block; }
}

.middle { display: block; background-color: #f65446; height: 150px; }
.middle {
	span { display: block; text-align: center; top: 38%; position: relative; text-transform: uppercase; font-family: $nimbus-c; font-weight: 700; font-size: 40px; line-height: 42px; color: white;}
}

.post-content { display: block; }

/* Footer Styles
================================================== */

footer { display: block; height: 240px; background-color: #137cc1 }
footer {
	.footer-text { display: block; top: 36%; position: relative; text-align:center; }
	.footer-text {
		.footer-title { display: block; font-family: $nimbus-c; font-weight: 700; font-size: 22px; line-height: 32px; color: $d-grey; text-transform: uppercase; }
		.footer-subtitle { display: block; font-family: $minion; font-size: 18px; line-height: 18px; color: $d-grey; }
		.footer-url { display: block; color: white; font-family: $nimbus; }
	}
}


/* Homepage Styles
================================================== */



/* PAGE Styles
================================================== */



/* FOOTER Styles
================================================== */



/* #Page Styles
================================================== */



/* #Blog Styles
================================================== */



/* #Media Queries
================================================== */



	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
