
/* Table of Content
================================================== */

.section {
	margin-bottom: 30px;
}


/* Header Styles
================================================== */
header { background: url("assets/img/header-bg.jpg"); background-size: cover; background-position: top center; margin-bottom: 30px;}
header {
	.header-logo { display: block; }
	.header-logo {
		img { background-color: white; padding: 25px 20px 20px; }
	}

	@media only screen and (max-width: 767px) {
		.header-logo {
			text-align:center
		}
	}

	.header-text { display: block; background-color: #137cc1; margin: 85px 15px 40px; padding: 26px; }
	.header-text {
		.header-text-information { font-size: 22px; color: white; font-family: $minion; font-style: italic; line-height: 26px; font-weight: 700; letter-spacing: .02em; margin-bottom: 10px; }
		.header-text-callout { display: block; color: white; font-family: $nimbus-c; text-transform: uppercase; font-weight: 700; font-size: 40px; line-height: 42px; }
	}
}

/* Homepage Styles
================================================== */

.contact-form { display: block; }
.contact-form {
	.contact-form-header { display: block; background-color: $red; color: white; padding: 10px 34px; }
	.contact-form-header {
		.contact-form-header-title { display: block; text-transform: uppercase; font-weight: 700; font-family: $nimbus-c; font-size: 22px; line-height: 28px; letter-spacing: 0.09em; }
		.contact-form-header-subtitle { display: block; font-family: $minion; font-size: 16px; line-height: 22px; font-weight: 700; }
	}
	.contact-form-body { display: block; background-color: $s-grey; padding-top: 20px; }
	.contact-form-body {
		.frm_forms.with_frm_style { max-width: none; }
		.with_frm_style .frm_form_field { padding: 0px 20px; }
		.with_frm_style .frm_top_container label.frm_primary_label { display: none; }
		.with_frm_style textarea, .with_frm_style input[type=text], .with_frm_style input[type=password], .with_frm_style input[type=email], .with_frm_style input[type=number], .with_frm_style input[type=url], .with_frm_style input[type=tel], .with_frm_style input[type=file], .with_frm_style select { border: 3px solid #fff; padding: 6px 8px; font: 18px/24px $nimbus, Helvetica, Arial, sans-serif; max-width: 100%; display: block; background: #e2e2e2; color: #323333; margin: none; overflow: hidden; box-sizing:border-box; width: 100%; }

		.with_frm_style .frm_submit input[type=submit], .with_frm_style .frm_submit input[type=button], .frm_form_submit_style, .with_frm_style.frm_login_form input[type=submit] { text-align: center; padding: 3px 30px; border: none; color: #ffffff; border-radius: .5em; background: $red; font-size: 18px;font-family: $nimbus-c; text-transform: uppercase; letter-spacing: 0.09em; font-weight: 700; letter-spacing: 0.07em; float: right; margin-right: 25px; }

		.with_frm_style .frm_radio label, .with_frm_style .frm_checkbox label { font-family: $nimbus; font-size: 10px; line-height:10px; text-transform: uppercase; font-weight: 700; }
		.with_frm_style .frm_radio { width: 80%; }

		.with_frm_style p.submit, .with_frm_style div.frm_submit, .with_frm_style.frm_login_form p.login-submit { position: relative; float: right; }

		@media only screen and (min-width: 768px) {

			.with_frm_style p.submit, .with_frm_style div.frm_submit, .with_frm_style.frm_login_form p.login-submit { position: absolute; right: 0; bottom: 30px; }

			#field_7jwk25 { width: 49%; }
			#field_axkmb8 { width: 48%; position: absolute; left: 50%; top: 90px; }
			#field_xs1dc8 { width: 32%; }
			#field_2ceh3d { width: 32%; position: absolute; left: 34%; top: 152px; }
			#field_bcq4pz { width: 31%; position: absolute; left: 67%; top: 152px; }
		}

		@media only screen and (min-width: 480px) and (max-width: 767px) {

			.frm_forms.with_frm_style { height: 656px; }

		}

		@media only screen and (max-width: 479px) {

			.frm_forms.with_frm_style { height: 670px; }

		}
	}
}

.middle { display: block; background-color: $red; height: 150px; }
.middle {
	span { display: block; text-align: center; top: 38%; position: relative; text-transform: uppercase; font-family: $nimbus-c; font-weight: 700; font-size: 40px; line-height: 42px; color: white;}
}

.post-container { display: block; margin-bottom: 30px; }
.post-container {
	.post { display: block; border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 20px; }
	.post {
		.post-content { display: block; }
		.post-content {
			span { display: block; font-family: $minion; font-style: italic; font-size: 24px; line-height: 26px; font-weight: 700; color: white; }
		}
		.post-author { display: block; }
		.post-author {
			span { display: block; }
		}
	}

	.author { display: block; }
	.author {
		.post-author { display: block; }
		.post-author {
			span { display: block; background-color: $s-grey; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 20px; font-family: $nimbus-c; color: $d-grey; text-transform: uppercase; font-weight: 700; }
		}
	}
}

/* Footer Styles
================================================== */

footer { display: block; height: 240px; background-color: #137cc1 }
footer {
	.footer-text { display: block; top: 36%; position: relative; text-align:center; }
	.footer-text {
		.footer-title { display: block; font-family: $nimbus-c; font-weight: 700; font-size: 22px; line-height: 32px; color: $d-grey; text-transform: uppercase; }
		.footer-subtitle { display: block; font-family: $minion; font-size: 18px; line-height: 18px; color: $d-grey; }
		.footer-url { display: block; color: white; font-family: $nimbus; }
	}
}


/* Homepage Styles
================================================== */



/* PAGE Styles
================================================== */



/* FOOTER Styles
================================================== */



/* #Page Styles
================================================== */



/* #Blog Styles
================================================== */



/* #Media Queries
================================================== */



	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}
